{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="../../static/academico/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../static/academico/css/untitled.css">
    <link rel="stylesheet" href="../../static/academico/css/vanilla-zoom.min.css">
    {% endblock stylesheets %}

</head>
<body>
{% block header %}
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#"><img src="{% static 'academico/img/avatars/central.png' %}" width="50px"></a></div>
{% if user.is_authenticated %}
<div class="row mr-5">
   <div class="col-lg-6 col-12 mr-5">
       {% for nom in name %}
    <p>{{ nom.nombre }}</p>
{% endfor %}

   </div>
<div class="col-lg-6 col-12 mr-5">
     <button type="button" class="btn btn-success" onclick="window.location.href='/logout'">Cerrar Sesion</button>
</div>
</div>
    
{% else %}
 <li class="btn btn-success">Iniciar Sesion</li>
{% endif %}
</nav>
{% if request.user.groups.all.0.name == 'estudiante' %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mt-5">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endif %}
{% endblock header %}

</body>
</html>