{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="../../static/academico/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../static/academico/css/untitled.css">
    <link rel="stylesheet" href="../../static/academico/css/vanilla-zoom.min.css">
    {% endblock stylesheets %}

</head>
<body>
{% block header %}
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#"><img src="{% static 'academico/img/avatars/central.png' %}" width="50px"></a></div>
{% if user.is_authenticated %}
<div class="row mr-5">
   <div class="col-lg-6 col-12 mr-5">
       <p style="color:white">{{user.get_username}}</p>
   </div>
<div class="col-lg-6 col-12 mr-5">
     <button type="button" class="btn btn-success" onclick="window.location.href='/logout'">Cerrar Sesion</button>
</div>
</div>
{% else %}
 <li class="btn btn-success">Iniciar Sesion</li>
{% endif %}
</nav>

{% endblock header %}

</body>
</html>