<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<br><br><br><br><br>
<div class="cont">
    <h2>Nombre: {{ nombre }}</h2>
    <h2>Curso: {{ curso }}</h2>
</div>
<br><br><br><br><br>
<div class="container">
<table>
                      <th scope="col">Materia</th>
                            <th class="ta" scope="col">Primer Quimestre</th>
                            <th class="ta" scope="col">Segundo Quimestre</th>
                             <th class="ta" scope="col">Nota final</th>

                        </tr>

                               {% for dato in datos %}
                                   <tr>
                                   <td>{{dato.materia}}</td>
                            <td>{{dato.PRI1Q}}</td>
                            <td>{{ dato.PRI2Q }}</td>
                                       <td>{{ dato.final }}</td>
                               </tr>
                               {% endfor %}



                        </tr>

                </table>
    <br>
    <br>
<table>
<tr>
    <td>Promedio final</td>
    <td>{{ profi }}</td>
</tr>
</table>
</div>
<button type="button"  onclick="window.location.href='/exportpdf?usuario={{request.user.username}}'" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Descargar" ><a class="fa fa-download">lo</a></button>
</body>
</html>